html
  head
    title Conteo de Lineas de Codigo
    link(rel='stylesheet', href='/static/CSS/style.css')
  body
    h2(class='fuente') ¡Error supremamente grave del sistema!
    br
    p 
    .flex-container
      //- Itera sobre el vector con la informacion
      .flex-card
        p.bold=error
        br
